<div class="content">

    <h1>Implementação ngIf</h1>
    <div>
        exibir: <input type="checkbox" [(ngModel)] = "exibir" />
    </div>

    <div>

        <h2>*ngIf - uso direto</h2>
        <p *ngIf = "exibir">
            Variável "exibir" com checkbox ativado
        </p>
        <p *ngIf = "!exibir">
            Variável "exibir" com checkbox desativado
        </p>
        <h2>*ngIf - utilizando bloco else</h2>
        <p *ngIf="exibir; else umBloco">
            Texto exibido quando checkbox estiver ativado
        </p>
        <ng-template #umBloco>
            Texto exibido quando o checkbox estiver desativado
        </ng-template>

        <h2>*ngIf - usando if, then e else</h2>
        <p *ngIf="exibir; then miniView else novoBloco">
            Este conteúdo não será exibido
        </p>
        <ng-template #miniView>
            Texto exibido com checkbox ativado - true
        </ng-template>
        <ng-template #novoBloco>
            Texto exibido com checkbox desativado - false
        </ng-template>

        <!-- Se a condição para Hidden for true esconde o trecho de código -->
        <h2>Uso da propriedade Hidden</h2>
        <!-- ativado exibir é true e esconde essa linha -->
        <p [hidden] = "exibir">
            Texto checkbox desativado - false
        </p>
        <!-- desativado exibir é false e esconde essa linha -->
        <p [hidden] = "!exibir">
            Texto checkbox ativado - true
        </p>

    </div>
    
</div>
