<!--Vincular as propriedades escritas no ts (interpolation.component)-->
<div class="content">
    <h2>Interpolation Data Binding</h2>
    <h4>Toda vez que eu quiser exibir algo (valores) na view do meu componente eu uso, interpolation binding. Exibo de qualquer lugar.</h4>

    <span>O valor variável x é: {{ x }}</span>
    <br/><br/>

    <span>O array de número stem os valores: {{ umArray }}</span>
    <br/><br/>

    <span>A data de hoje é {{ dataHoje }}</span>
    <br/><br/>

    <span>{{ statusBooleano ? "Esse é o texto para TRUE" : "Esse é o texto para FALSE" }}</span>
    <br/><br/>

    <span>{{ exibirTexto() }}</span>
    <br/><br/>
    
</div>